node_modules
node_modules_linux
coverage
server/localdev-config.json
server/localdev-config.json
credentials.json
localdev-config.json
.nyc*
public
server/localdev-config.json
.env
scripts/start.sh
scripts/stop.sh

